a {
    color: inherit;
    text-decoration: none;
}
a:active{
    color: rgb(238, 11, 79);
}
@font-face {
    font-family: 'Daaron';
    src: url(public/assets/fonts/Daaron-regular.otf);
}
body {
    margin: 0 3vmax 0 3vmax;
    font-size: clamp(1em, calc(1rem + ((1vw - 0.234375em) * 0.7758)), 1.4em);
    line-height: 1.6;
    font-family: 'Helvetica';
    font-weight: lighter;
    color: whitesmoke;
    background: rgb(0, 0, 0);
    height: 100%;
    /* display: grid;
    grid: "a b c d e f" auto "n n n n n n" 1fr "side main main main main main" 5fr/3.5fr 1fr 1fr 1fr 1fr 1fr; */
}

.header {
    /* font-family: "Daaron"; */
    font-weight: bolder;
    color: rgb(243, 235, 241);
    display: grid;
    grid: "a b c d e f" auto "n n n n n n" 1fr/3.5fr 1fr 1fr 1fr 1fr 1fr;
}

#nametag {
    z-index: -5;
    font-weight: lighter;
    /* color: rgb(238, 11, 79); */
}

.circlemain {
    /* font-size: clamp(2.6em, calc(2.6rem + ((1vw - 0.234375em) * 0.7758)), 3em); */
    z-index: 6;
    font-weight: light;
}

.circle {
    /* font-weight: light; */
    grid-area: n;
    font-size: 2vmax;
    z-index: 5;
    padding-bottom: 1em;
}

.a, .b, .c, .d, .e {
    font-size: 2vmax;
    margin: 2vh;
    text-align: left;
    margin-top: 1em;
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.e {
    grid-area: f;
}

/* -------------------- ABOUT ME ------------- */

.iam {
    margin-top: 1em;
    flex: 2 1 300px;
    justify-self: right;
}

.links {
    margin: 1em 3vmax 1em 0;
    text-align: right;
    justify-content: right;
    flex: 1 1 300px;
}

/* .arrows{
    grid-area: left;
    text-align:right;
    margin-right: 2vw;
} */

/* -------------------- WORK ------------- */

.main {
    display: flex;
    flex-flow: row wrap;

}

.project-item {
    flex: 1 1 auto;
    width: 50%;
    min-width: 300px;
    margin: 2em 0 2em 0;
}

.project-item img {
    width: 100%;
}
figure{
    margin: 0 1vmin 0 1vmin;
}
figcaption{
padding-top: 0.7em;
}
/* #myCanvas{
    width: 100vw;
    position: absolute;
    height: 100vh; 
    width: 100vw; 
    display: block;
} */
.bounce {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    z-index: -50;
    height: clamp(300px, calc(18.75rem + ((1vw - 3.75px) * 25.4545)), 510px);
    width: clamp(300px, calc(18.75rem + ((1vw - 3.75px) * 25.4545)), 510px);
    min-height: 0vw;
    background-color:rgb(238, 11, 79, 24);
    border: 0;
    border-radius: 50%;
    animation: bounce-top 2s linear both;
}
#ball1{
    
    height: 100px;
    width: 100px;
}
@keyframes bounce-top {
    0% {
        transform: translateY(-100vh);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    40% {
        transform: translateY(-50vh);
        animation-timing-function: ease-in;
    }
    65% {
        transform: translateY(-22vh);
        animation-timing-function: ease-in;
    }
    82% {
        transform: translateY(-16vh);
        animation-timing-function: ease-in;
    }
    93% {
        transform: translateY(-10vh);
        animation-timing-function: ease-in;
    }
    25%, 55%, 75%, 87% {
        transform: translateY(-2vh);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translateY(0%);
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

@media only screen and (max-width: 480px) {
   
    .a {
        display: none;
    }
    .links{
        text-align: left;
    }
}