a {
    color: inherit;
    text-decoration: none;
    position: relative;
}

a:active {
    color: rgb(238, 11, 79);
}

a.linkdecoration:after {
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(238, 11, 79);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a.linkdecoration:hover:after {
    width: 100%;
    left: 0;
}

@font-face {
    font-family: "Suisse Light";
    src: url(public/assets/fonts/SuisseIntl-Light-WebTrial.woff2);
}

@font-face {
    font-family: "Suisse Bold";
    src: url(public/assets/fonts/SuisseIntl-Bold-WebTrial.woff2);
}

@font-face {
    font-family: "Suisse Regular";
    src: url(public/assets/fonts/SuisseIntl-Regular-WebTrial.woff2);
}

body {
    margin: 0 3vmax 0 3vmax;
    font-size: clamp(1.1em, calc(1rem + ((1vw - 0.234375em) * 0.7758)), 1.5em);
    line-height: 1.6;
    font-family: "Suisse Light";
    font-weight: lighter;
    color: whitesmoke;
    background: rgb(0, 0, 0);
    height: 100%;
}

.newmain {
    font-family: 'Suisse Regular';
    /* font-style: italic; */
    display: flex;
    flex-flow: row wrap;
    position: relative;
    justify-content: center;
}

.newitem {
    margin-right: 1vmax;
    text-align: center;
    font-size: clamp(1.4em, calc(1.8rem + ((1vw - 0.234375em) * 3.103)), 4em);
    transition: all 1s;
}

.thumbnail {
    display: none;
}

.newitem:hover {
    color: rgb(238, 11, 79);
    transform: scale(1.1);
}

.newitem:hover+.thumbnail {
    position: absolute;
    width: 50vw;
    display: flex;
    z-index: -1;
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}

.header {
    color: rgb(243, 235, 241);
    display: grid;
    grid: "a x b c d e f" auto "n n n n n n n" auto /1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#nametag {
    z-index: -5;
    font-weight: lighter;
}

.circlemain {
    /* font-size: clamp(2.6em, calc(2.6rem + ((1vw - 0.234375em) * 0.7758)), 3em); */
    z-index: 6;
    font-weight: light;
    grid-area: n;
}

.circle {
    font-size: 2vmax;
    z-index: 5;
    padding-bottom: 1em;
    margin: auto;
    display: block;
}

.a, .b, .c, .d, .e {
    font-size: 2vmax;
    margin: 2vh;
    text-align: left;
    margin-top: 1em;
}

.b, .c, .d {
    text-align: center;
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.e {
    grid-area: f;
    text-align: end;
}

/* -------------------- ABOUT ME ------------- */

.iam {
    margin-top: 1em;
    flex: 4 1 300px;
    justify-self: right;
}

.links {
    margin: 1em 3vmax 1em 0;
    text-align: right;
    justify-content: right;
    flex: 1 1 300px;
}

/* .arrows{
    grid-area: left;
    text-align:right;
    margin-right: 2vw;
} */

/* -------------------- CONTACT ME ------------- */

.contacts {
    font-family: "Suisse Bold";
    font-size: 5em;
    width: fit-content;
    /* display: inline-block; */
    z-index: -1;
    flex: 1 1 auto;

}

.f {
    font-size: 1em;
    width: fit-content;
    color: rgb(189, 189, 189);
     margin: 0 auto;
    padding: 0;
    /* border-top: 1px solid whitesmoke; */

}
ul > li{
    list-style-type: none;
    display: inline-block;
    padding-top: 2vmin;
    margin: 4vmin;

}
li a{
    color: whitesmoke;
}
.main1{
    display: flex;
    flex-flow: row ;
    margin-right: 15%;
    
}
.enquiries{
    flex: 1 1 auto;
    /* display: inline-block; */
    align-self: center;
    font-size: 2.5em; 
    margin: 0 auto;
    border-bottom: 1px solid whitesmoke;
   }
   
.bounce1 {
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: -50;
    height: 250px;
    width: 250px;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    animation: bounce-top 2s linear both;
}

/* -------------------- WORK ------------- */

.main {
    /* position: absolute; */
    display: flex;
    flex-flow: row wrap;
}

.project-item {
    flex: 1 1 auto;
    width: 50%;
    min-width: 300px;
    margin: 2em 0 2em 0;
}

.project-item img {
    width: 100%;
}

figure {
    margin: 0 1vmin 0 1vmin;
}

figcaption {
    padding-top: 0.7em;
}

/* -------------------- UBEREATS ------------- */

.project-page {
    display: flex;
    flex-flow: row wrap;
}

.ue {
    width: 100vw;
}

.hover07 figure {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover07 figure:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.hover08 img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover08 img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.project-gallery {
    margin-top: 4rem;
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    max-height: 1700px;
}

.img-wrapper {
    width: 49%;
    margin: 0.5em;
}

.project-img {
    width: 100%;
}

.project-text {
    flex: 2 1 300px;
}

.project-info {
    flex: 1 1 300px;
    padding-left: 4rem;
    border-left: thin solid rgb(185, 185, 185);
    line-height: 2;
    margin-left: 4rem;
}

.bounce {
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -50;
    height: 510px;
    width: 510px;
    /* height: clamp(300px, calc(18.75rem + ((1vw - 3.75px) * 25.4545)), 510px);
    width: clamp(300px, calc(18.75rem + ((1vw - 3.75px) * 25.4545)), 510px); */
    /* min-height: 0vw; */
    background-color: rgb(238, 11, 79, 24);
    border: 0;
    border-radius: 50%;
    animation: bounce-top 2s linear both;
}

@keyframes bounce-top {
    0% {
        transform: translateY(-100vh);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    40% {
        transform: translateY(-50vh);
        animation-timing-function: ease-in;
    }
    65% {
        transform: translateY(-32vh);
        animation-timing-function: ease-in;
    }
    82% {
        transform: translateY(-27vh);
        animation-timing-function: ease-in;
    }
    93% {
        transform: translateY(-24vh);
        animation-timing-function: ease-in;
    }
    25%, 55%, 75%, 87% {
        transform: translateY(-18vh);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translateY(-18vh);
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

@media only screen and (max-width: 480px) {
    .a {
        display: none;
    }
    .contacts {
        /* color: rgb(238, 11, 79); */
        /* opacity: 50%; */
        z-index: -1;
        display: none;
    }
    .links {
        text-align: left;
    }
    .img-wrapper {
        width: 100%;
        flex-wrap: row;
    }
}